@page
@model Bookworms.Pages.errors._400Model
@{
    ViewData["Title"] = "Bad Request";
}
<div class="container text-center mt-5">
    <h1 class="text-warning">400 - Bad Request</h1>
    <p>Your request could not be understood by the server. Please check your input and try again.</p>
    <a href="/" class="btn btn-primary">Return Home</a>
</div>

