@page
@model Bookworms.Pages.errors._401Model
@{
    ViewData["Title"] = "Unauthorized";
}
<div class="container text-center mt-5">
    <h1 class="text-danger">401 - Unauthorized</h1>
    <p>You need to log in to access this page.</p>
    <a href="/Login" class="btn btn-primary">Go to Login</a>
</div>
