@page
@model Bookworms.Pages.errors._500Model
@{
    ViewData["Title"] = "Internal Server Error";
}
<div class="container text-center mt-5">
    <h1 class="text-danger">500 - Internal Server Error</h1>
    <p>Something went wrong on our end. Please try again later.</p>
    <a href="/" class="btn btn-primary">Return Home</a>
</div>
