@page
@model Bookworms.Pages.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <p>Your Password has been successfully reset!</p>
    <a asp-page="/Login" class="btn btn-primary">Return to Login</a>
</div>
